@use '../../../styles/variables' as *;

.detail-page {
  @include flex-layout(column, center, center, 40px);
  width: 100%;

  .recipe-detail {
    padding: 40px 48px;
    background-color: rgba($color-creme, 0.3);
    border: 4px solid $color-creme;
    border-radius: 24px;

    &__header {
      background-color: $color-creme;
      border-radius: 24px;
      padding: 24px;
      margin-bottom: 40px;

      &-content {
        @include flex-layout(row, space-between, center, 40px);

        &-left {
          @include flex-layout(column, flex-start, flex-start, 12px);
          max-width: 70%;
        }
      }
    }

    &__time {
      @include flex-layout(row, flex-start, center, 12px);
      font-family: $font-quicksand;
      font-weight: 500;
      font-size: 1.25rem;
      color: $color-olive-green;
    }

    &__title {
      font-family: $font-quicksand;
      font-size: 3.5rem;
      font-weight: 600;
      color: $color-middle-green;
    }

    &__chefs-summary {
      @include flex-layout(row, flex-start, center, 16px);
    }

    &__header-content-right {
      @include flex-layout(column, flex-start, flex-start, 12px);

      span {
        font-family: $font-quicksand;
        font-weight: 500;
        color: $color-dark-green;
      }
    }

    &__actions {
      @include flex-layout(row, flex-start, center, 12px);
    }

    &__likes {
      @include flex-layout(row, center, center, 4px);

      app-heart-button {
        width: 24px;
        height: 24px;
        @include flex-layout(row, center, center);

        ::ng-deep .heart-btn {
          transform: scale(0.5);
        }
      }
    }

    &__divider {
      width: 100%;
      height: 1px;
      background-color: rgba($color-olive-green, 0.1);
    }

    &__nutrition {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
      color: $color-dark-green;

      .nutrition-item {
        @include flex-layout(column, center, center, 8px);
        font-family: $font-quicksand;

        strong {
          text-transform: uppercase;
        }
      }
    }

    &__ingredients-img,
    &__directions-img {
      @include flex-layout(row, center, center);
    }

    &__ingredients-grid {
      @include flex-layout(row, space-evenly, flex-start);
    }
    
    .ingredient-group {
      width: 100%;
      max-width: 300px;

      &__title {
        font-family: $font-quicksand;
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-middle-green;
        margin-bottom: 16px;
      }
    }

    &__steps {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 16px;
    }

    .step-card {
      color: $color-dark-green;
      font-family: $font-quicksand;
      font-weight: 500;
      
      &__header {
        @include flex-layout(row, space-between, center, 16px);
        margin-bottom: 16px;
      }
      
      &__number {
        font-size: 1.25rem;
        background-color: $color-creme;
        padding: 4px 8px;
        border-radius: 20px;
      }

      &__title {
        font-size: 1.25rem;
        flex-grow: 1;
      }
    }

    &__footer {
      @include flex-layout(row, center, center, 8px);
      margin-top: 40px;
      color: $color-dark-green;
    }
  }

  &__cta {
    width: 100%;
    @include flex-layout(row, center, center, 32px);
    background-color: rgba($color-olive-green, 0.1);
    border-radius: 20px;
    padding: 40px;

    &-text {
      font-family: $font-quicksand;
      font-size: 1.5rem;
      font-weight: 600;
      color: $color-dark-green;
    }
  }

  &__nav {
    width: 100%;
    @include flex-layout(row, flex-end, center);
  }
}
