@if (recipe(); as data) {
<div class="detail-page container">
  <article class="recipe-detail">
    <header class="recipe-detail__header">
      <div class="recipe-detail__header-content">
        <div class="recipe-detail__header-content-left">
          <span class="recipe-detail__time">
            <img src="assets/svg/schedule.svg" alt="Schedule">
            Cooking time: {{ data.time }}
          </span>

          <h1 class="recipe-detail__title">{{ data.title }}</h1>

          <div class="recipe-detail__chefs-summary">
            <span>Cooking person: {{ data.baseChefs }}</span>
            <app-chefs-label [chefId]="1" />
            <app-chefs-label [chefId]="2" />
          </div>
        </div>

        <div class="recipe-detail__header-content-right">
          <div class="recipe-detail__actions">
            @for (tag of data.tags; track tag) {
            <app-tag variant="green">{{ tag }}</app-tag>
            }
            <app-tag variant="green">
              <span class="recipe-detail__likes">
                <img src="assets/svg/heart_default.svg" alt="Heart empty">
                {{ data.likes }}
              </span>
            </app-tag>
          </div>

          <div class="recipe-detail__divider"></div>

          <span>Nutritional information</span>
          <div class="recipe-detail__nutrition">
            <div class="nutrition-item"><strong>Energie</strong> {{ data.nutrition.kcal }} kcal</div>
            <div class="nutrition-item"><strong>Protein</strong> {{ data.nutrition.protein }}</div>
            <div class="nutrition-item"><strong>Fat</strong> {{ data.nutrition.fat }}</div>
            <div class="nutrition-item"><strong>Carbs</strong> {{ data.nutrition.carbs }}</div>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="recipe-detail__ingredients-img">
        <img src="assets/svg/recipe-detail/hero_ingredients.svg" alt="Banner with ingredients">
      </div>

      <div class="recipe-detail__ingredients-grid">
        <div class="ingredient-group">
          <h3 class="ingredient-group__title">Your ingredients</h3>
          <ul class="ingredient-group__list">
            @for (ing of data.userIngredients; track ing.name) {
            <app-ingredient-list-item [amount]="ing.scaledAmount" [unit]="ing.unit" [name]="ing.name"
              [isEditable]="false" />
            }
          </ul>
        </div>
        <div class="ingredient-group">
          <h3 class="ingredient-group__title">Extra ingredients</h3>
          <ul class="ingredient-group__list">
            @for (ing of data.extraIngredients; track ing.name) {
            <app-ingredient-list-item [amount]="ing.amount" [unit]="ing.unit" [name]="ing.name" [isEditable]="false" />
            }
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div class="recipe-detail__directions-img">
        <img src="assets/svg/recipe-detail/hero_directions.svg" alt="Banner with directions">
      </div>

      <div class="recipe-detail__steps">
        @for (step of data.steps; track step.id) {
        <article class="step-card">
          <div class="step-card__header">
            <span class="step-card__number">{{ step.step_number }}.</span>
            <h4 class="step-card__title">{{ step.title }}</h4>
            <app-chefs-label [chefId]="step.chefId" />
          </div>
          <p class="step-card__text">{{ step.description }}</p>
        </article>
        }
      </div>
    </section>

    <section class="recipe-detail__footer">
      <p><strong>Just finished this meal?</strong></p>
      <p>Give it a heart, so that the others know this is delicious.</p>
      <app-heart-button></app-heart-button>
    </section>
  </article>

  <article class="detail-page__cta">
    <p class="detail-page__cta-text">Find inspiration for your next culinary adventure!</p>
    <app-button colorScheme="green" routerLink="/cookbook">Cookbook</app-button>
  </article>

  <nav class="detail-page__nav">
    <app-button variant="secondary" colorScheme="green" routerLink="/generate-input-user">
      Generate new recipe
    </app-button>
  </nav>
</div>
}