@use '../../../../styles/variables' as *;

:host {
  display: block;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-olive-green;
  color: $color-creme;
  z-index: 999;

  @include flex-layout(row, center, center);

  &__content {
    @include flex-layout(column, center, center, 32px);
    margin-top: -200px;
  }

  &__visual {
    img {
      width: 300px;
      height: auto;
      object-fit: contain;
    }
  }

  &__text {
    font-family: $font-ubuntu;
    font-size: 3rem;
    font-weight: 700;
    color: $color-creme;
  }

  &__dots::after {
    content: "";
    display: inline-block;
    width: 50px;
    text-align: left;
    animation: loadingDots 3s steps(4, end) infinite;
  }
}

@keyframes loadingDots {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}