@use '../../../../styles/variables' as *;

.header {
  padding: 40px;
  @include flex-layout(column, flex-start, flex-start, 16px);
  position: relative;
  z-index: 1000;

  @include respond-to($bp-md) {
    padding: 24px;
  }

  @include respond-to($bp-xs) {
    padding: 16px;
    gap: 10px;
  }

  &__logo {
    text-decoration: none;
    @include flex-layout(row, center, center, 12px);

    @include respond-to($bp-md) {
      width: 95px;
    }

    &-text {
      font-family: $font-ubuntu;
      font-weight: 700;
      font-size: 1.25rem;
      color: $color-dark-green;
    }
  }

  &__back-link {
    @include flex-layout(row, center, center, 8px);
    text-decoration: none;
    color: $color-olive-green;
    font-family: $font-quicksand;
    font-weight: 500;
    transition: color 0.3s ease;
    
    &:hover {
      color: $color-middle-green;
    }

    @include respond-to($bp-md) {
      min-height: $min-touch-target;
    }
  }

  &--creme-logo {
    .header__back-link {
      color: $color-creme;
    }
  }

  &--green-logo {
    .header__back-link {
      color: $color-olive-green;
    }
  }

  &__arrow {
    font-size: 1.25rem;
  }
}