$color-olive-green: #396039;
$color-middle-green: #1E5515;
$color-dark-green: #10310B;
$color-creme: #FAF0E6;
$color-sand: #FAE0C6;
$color-white: #FFFFFF;

$font-quicksand: 'Quicksand', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

$min-touch-target: 48px;

$bp-xs: 480px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin flex-layout($direction:row, $jc:center, $ai: center, $g:0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin respond-to($bp) {
  @media (max-width: $bp) { @content; }
}