@use '../../../../styles/variables' as *;

:host {
  display: block;
  width: 100%;
  max-width: 370px;
}

.most-liked-card {
  background-color: rgba($color-olive-green, 0.2);
  border-radius: 16px;
  padding: 16px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
  height: 100%;

  &:hover {
    transform: scale(1.01);
  }

  &__header {
    @include flex-layout(row, space-between, center);
    margin-bottom: 16px;
  }

  &__time {
    @include flex-layout($ai: center, $g: 6px);
    font-family: $font-quicksand;
    font-weight: 500;
    color: $color-olive-green;
  }

  &__title {
    font-family: $font-quicksand;
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-middle-green;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__likes {
    @include flex-layout(row, center, center, 4px);

    app-heart-button {
      width: 24px;
      height: 24px;
      @include flex-layout(row, center, center);

      ::ng-deep .heart-btn {
        transform: scale(0.5);
      }
    }
  }
}