@use '../../../../styles/variables' as *;

:host {
  @include flex-layout(row, space-between, flex-start);
  position: relative;
  min-height: 40px;
}

.ingredient-item {
  &__content {
    @include flex-layout(row, flex-start, center, 12px);
    font-family: $font-quicksand;
    color: $color-dark-green;
    flex: 1;
  }

  &__bullet {
    color: $color-middle-green;
    font-size: 1.5rem;
    line-height: 1;
  }

  &__quantity, &__name {
    font-weight: 500;
  }

  &__actions {
    @include flex-layout(row, center, center, 8px);
  }

  &__btn {
    background: none; 
    border: none; 
    padding: 6px; 
    cursor: pointer; 
    color: $color-dark-green;
    @include flex-layout(); 
    transition: transform 0.3s ease;
  }

  &__edit-input {
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 20px;
    background-color: $color-creme;
    font-family: $font-quicksand;
    color: $color-dark-green;
    text-align: center;

    &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

    &:focus { 
      outline: 2px solid $color-middle-green; 
      outline-offset: -2px; 
    }
  }

  &__edit-select-container {
    @include flex-layout(column, flex-start, center);
  }

  &__edit-select-pill {
    height: 40px;
    background-color: $color-creme;
    border-radius: 20px;
    padding: 0 16px;
    min-width: 90px;
    cursor: pointer;
    @include flex-layout(row, space-between, center, 8px);
    transition: outline 0.3s ease;
    &:focus-within { outline: 1.5px solid $color-middle-green; }
  }

  &__select-icon {
    transition: transform 0.3s ease;
    &--rotated { transform: rotate(180deg); }
  }

  &__dropdown {
    width: 100%;
    list-style: none;
    padding: 4px 0;
    margin-top: 4px;
    @include flex-layout(column, flex-start, center, 2px);
    background: transparent;
  }

  &__dropdown-item {
    width: 100%;
    padding: 2px 8px;
    font-family: $font-quicksand;
    color: $color-dark-green;
    cursor: pointer;
    border-radius: 20px;
    text-align: start;
    transition: background-color 0.3s ease;

    &:hover { 
      background-color: rgba($color-middle-green, 0.1); 
    }
  }
}