<div [class]="labelClasses()">
  <span class="chef-label__icon" aria-hidden="true">
    @switch (chefId()) {
    @case (1) {
    <img src="assets/svg/chefs/chef_1.svg" alt="Icon Chef 1">
    }
    @case (2) {
    <img src="assets/svg/chefs/chef_2.svg" alt="Icon Chef 2">
    }
    @case (3) {
    <img src="assets/svg/chefs/chef_3.svg" alt="Icon Chef 3">
    }
    @case (4) {
    <img src="assets/svg/chefs/chef_4.svg" alt="Icon Chef 4">
    }
    }
  </span>
  <span class="chef-label__text">Chef {{ chefId() }}</span>
</div>