@use '../../../../styles/variables' as *;

:host {
  display: block;
  width: 100%;
}

.cuisine-card {
  outline: none;
  max-width: 400px;

  @include respond-to($bp-sm) {
    max-width: none;
  }
  
  &__title {
    width: fit-content;
    font-family: $font-quicksand;
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-middle-green;
    margin-bottom: 16px;
    cursor: pointer;
    min-height: $min-touch-target;
    @include flex-layout(row, flex-start, center);
  }
  
  &__image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: #eee;
  }
  
  &__image {
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }
  }
}