@use './styles/variables' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: $font-ubuntu;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button, input {
  font-family: inherit; 
  font-size: inherit;   
  color: inherit;       
  line-height: inherit;
}

@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/quicksand-v37-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/quicksand-v37-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('../public/assets/fonts/quicksand-v37-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/quicksand-v37-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/ubuntu-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/ubuntu-v21-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/ubuntu-v21-latin-700.woff2') format('woff2');
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

main.main-content {
  flex: 1 0 auto; 
}

app-footer {
  flex-shrink: 0;
}