@use '../../../styles/variables' as *;

.hero {
  height: 100vh;
  width: 100%;
  @include flex-layout(row, space-between, center);
  overflow: hidden;
  color: $color-creme;
  background-color: $color-olive-green;
  position: absolute;
  top: 0;
  left: 0;

  &__container {
    @include flex-layout(row, space-between, center);
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 112px;
  }

  &__content {
    flex: 0 0 auto;
    z-index: 10;
    @include flex-layout(column, space-between, flex-start, 48px);
    height: 60vh;

    @include respond-to($bp-md) {
      gap: 32px;
      height: 75vh;
    }

    @include respond-to($bp-xs) {
      gap: 12px;
      max-width: 50%;
    }

    &__wrapper {
      @include flex-layout(column, flex-start, flex-start, 48px);

      @include respond-to($bp-md) {
        gap: 24px;
      }

      @include respond-to($bp-xs) {
        gap: 16px;
      }
    }
  }

  &__subtitle {
    font-family: $font-quicksand;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 24px;

    @include respond-to($bp-xl) {
      font-size: 2rem;
    }

    @include respond-to($bp-lg) {
      font-size: 1.5rem;
    }

    @include respond-to($bp-md) {
      font-size: 1.25rem;
    }
  }

  &__title {
    font-family: $font-ubuntu;
    font-size: 6rem;
    font-weight: 700;

    @include respond-to($bp-xl) {
      font-size: 4.5rem;
    }

    @include respond-to($bp-lg) {
      font-size: 4rem;
    }

    @include respond-to($bp-md) {
      font-size: 3rem;
    }

    @include respond-to($bp-sm) {
      font-size: 2rem;
    }

    @include respond-to($bp-xs) {
      font-size: 1.5rem;
    }
  }

  &__footer {
    @include flex-layout(row, center, center, 24px);

    @include respond-to($bp-xl) {
      @include flex-layout(column, flex-start, flex-start, 24px);
    }

    &-text {
      font-family: $font-ubuntu;
      font-weight: 500;
      font-size: 2rem;

      @include respond-to($bp-md) {
        font-size: 1.25rem;
      }
    }

    ::ng-deep .btn {
      padding: 10px 20px;
      font-size: 1.5rem;

      @include respond-to($bp-md) {
        padding: 6px 14px;
        font-size: 1.25rem;
      }
    }
  }

  &__visual {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    @include flex-layout(column, center, center);
    pointer-events: none;
    z-index: 5;

    @include respond-to($bp-md) {
      top: auto;
      bottom: 0;
      height: 100vh;
      @include flex-layout(column, flex-end, flex-end);
      right: 0;
    }

    img {
      display: block;
      height: 100vh;
      width: auto;
      object-fit: cover;

      @include respond-to($bp-md) {
        object-fit: contain;
        object-position: right;
      }
    }
  }

}