<section class="hero">
  <div class="hero__container container">

    <div class="hero__content">
      <div class="hero__content__wrapper">
        <header class="hero__header">
          <p class="hero__subtitle">AI-Powered recipe generator</p>
          <h1 class="hero__title">Code à Cuisine</h1>
        </header>

        <div class="hero__actions">
          <app-button colorScheme="creme" routerLink="/generate-input-user">
            Get started
          </app-button>
        </div>
      </div>

      <footer class="hero__footer">
        <span class="hero__footer-text">Hungry for inspiration?</span>
        <app-button routerLink="/cookbook" variant="secondary" colorScheme="creme">
          Go to cookbook
        </app-button>
      </footer>
    </div>

    <div class="hero__visual">
      <picture>
        <source srcset="assets/svg/hero/visuals.svg" media="(min-width: 1024px)">
        <img src="assets/svg/hero/mobile/visuals_mobile.svg" alt="Gourmet Dishes">
      </picture>
    </div>

  </div>
</section>